<div class="container-fluid py-5 text-center box-title">
  <div class="parallax-inner">
    <h1 class="fw-bold">
      ¿Eres residente
      <br class="d-xl-none br-mobile" />
      de un edificio o condominio
      <br class="d-xl-none br-mobile" />
      <br class="d-none d-xl-block br-desktop" />
      y quieres tener agua purificada
      disponible 24/7?
    </h1>
  </div>
</div>
<div class="container py-5 text-center">
  <div class="building-content">
    <p>
      Para acceder al servicio de Pureza del Sur,<br />
      solo <strong>necesitas ponerte en contacto con la
      <br class="d-xl-none br-mobile" />
      administración de tu edificio o condominio</strong><br />
      y solicitar la implementación
      <br class="d-xl-none br-mobile" />
      de nuestro sistema.
    </p>
    <p>
      Una vez recibida la solicitud,<br />
      nos coordinamos directamente
      <br class="d-xl-none br-mobile" />
      con el administrador o el comité
      <br class="d-none d-xl-block br-desktop" />
      para
      <br class="d-xl-none br-mobile" />
      resolver dudas, explicar el funcionamiento
      <br class="d-xl-none br-mobile" />
      del servicio
      <br class="d-none d-xl-block br-desktop" />
      y agendar una visita de
      <br class="d-xl-none br-mobile" />
      evaluación e instalación, la cual es
      <br class="d-xl-none br-mobile" />
      <b>completamente gratuita</b>.
    </p>
    <p>
      De esta forma, facilitamos el acceso
      <br class="d-xl-none br-mobile" />
      a agua purificada para todas las personas
      <br class="d-xl-none br-mobile" />
      del edificio,
      <br class="d-none d-xl-block br-desktop" />
      de manera simple
      <br class="d-xl-none br-mobile" />
      y sin gestiones complejas.
    </p>
    <br /><br /><br />
    <p class="fw-bold highlight-yellow">
      Te invitamos a enviar
      <span class="d-xl-none">esta información<br />
      a tu administración o comité,<br />
      con la que podrán contactarnos,<br />
      copiándola con sólo un clic:</span>
      <span class="d-none d-xl-inline">a tu administración o comité esta información<br />
      con la que podrán contactarnos, copiándola con un sólo clic:</span>
    </p>
  </div>
  <br />
  <br />
  <div class="col-md-6 offset-md-3">
    <mat-card>
      <mat-card-content>
        <div class="fira-code-text" style="font-size: 16px; line-height: 1.5; color: #000000">
         <p style="margin-bottom: 12px; text-align: left">
  <strong>Estimado Sr. Administrador,<br />
  Pertenezco a una de sus comunidades y quisiera solicitar la implementación de este servicio:</strong>
</p>
<p style="margin-bottom: 12px; text-align: left">
  Abastecimiento de agua purificada para edificios y condominios.
</p>
<p style="margin-bottom: 12px; text-align: left">
  Instalación gratuita, rápida y no invasiva.
</p>
<p style="margin-bottom: 12px; text-align: left">
  Implementación de racks a nivel comunitario, orientada a la comodidad de los residentes.
</p>
<p style="margin-bottom: 12px; text-align: left">
  Información y contacto directo con la empresa:<br />
  <a href="https://purezadelsur.cl/informacion-para-administracion"
    style="color: #0066cc; text-decoration: underline">
    https://purezadelsur.cl/informacion-para-administracion
  </a>
</p>
<p style="margin-bottom: 12px; line-height: 1.3; text-align: left">
  +56 9 8442 8760<br />
  <strong>Aguas Pureza del Sur</strong><br />
  Calidad Valdiviana,<br>
disponible en Santiago.
</p>
<p style="margin-bottom: 0; text-align: left">
  <strong>Muchas gracias desde ya por su gestión.</strong>
</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="d-flex justify-content-center align-items-center gap-2">
    <button (click)="copyToClipboardAndSendToEmail()" class="btn btn-primary mt-4 d-block">
      Copiar y enviar por Correo
    </button>
    <button (click)="copyToClipboardAndSendToWhatsApp()" class="btn btn-primary mt-4 d-block">
      Copiar y enviar por Whatsapp
    </button>
  </div>
  <div class="row">
    <div class="col justify-content-center">
      <br />
      @if (copiedMessage) {
        <div class="mx-auto mt-2 d-block text-success text-center">
          {{ copiedMessage }}
        </div>
      }
    </div>
  </div><br />
  <div class="mt-5">
    <div class="building-content">
      <p class="fw-bold highlight-yellow">
      
        También puedes descargar y enviar el siguiente afiche:
      </p>
    </div><br>
    <a href="/assets/images/Pureza del Sur.png" download="Afiche Pureza del Sur"
      class="btn btn-primary mb-4">
      Descargar Afiche
    </a>
    <br />
    <img src="/assets/images/Pureza del Sur.png" alt="Afiche Pureza del Sur"
  class="img-fluid mb-4 afiche-img" />
  </div>
</div>