<h1>Lugares</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mb-3">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">
        {{element.address}}<br>
        <small>8 Candados habilitados</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button>Editar</button>
        <button mat-button>Candados habilitados</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
