<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-vertical-menu source="configurations"></app-vertical-menu>
    </div>
    <div class="col-sm-10 border-start">
      <h1>Configuraciones</h1>
      <form (ngSubmit)="submit()" [formGroup]="configurationForm" novalidate class="base-form">
        <mat-form-field appearance="fill" class="base-full-width">
          <mat-label>Valor de la recarga</mat-label>
          <input type="number" matInput formControlName="price">
        </mat-form-field>
        <mat-form-field appearance="fill" class="base-full-width">
          <mat-label>Valor del bidón + recarga</mat-label>
          <input type="number" matInput formControlName="priceWithDrum">
        </mat-form-field>
        <div class="text-end">
          <button type="button" mat-button>Cancelar</button>
          <button type="submit" mat-raised-button class="m-1" [disabled]="!configurationForm.valid" color="primary">
            Guardar
          </button>
        </div>
      <h2>GetNet</h2>
      <p>Si existen operaciones pendientes, puedes hacer una actualización contra los servicios de getnet</p>
      <button type="button" mat-raised-button (click)="callTask()">Procesar operaciones pendientes</button>

      <mat-form-field appearance="fill" class="base-full-width">
        <mat-label>Url de respuesta</mat-label>
        <input type="text" matInput formControlName="returnUrl">
        <mat-hint>Esta es la dirección url donde el cliente verá el resultado de la operación de pago a través de Getnet.</mat-hint>
      </mat-form-field>
      </form>
    </div>
  </div>
</div>
