<h1 mat-dialog-title>{{data ? data.address : 'Crear'}}</h1>
<form [formGroup]="placeForm" novalidate (ngSubmit)="save()" class="base-form">
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="base-full-width">
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="country" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field appearance="fill" class="base-full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
    <mat-form-field appearance="fill" class="base-full-width">
      <mat-label>Alerta de stock</mat-label>
      <input type="number" matInput formControlName="availableStock">
      <mat-hint>Indica el stock mínimo a tener en el punto de venta</mat-hint>
    </mat-form-field>
    <mat-slide-toggle formControlName="status">
      {{ placeForm.controls['status'].value ? 'Deshabilitar punto de venta' : 'Activar punto de venta'}}
    </mat-slide-toggle>
    {{ placeForm.controls['status'].value }}
  </div>
  <div mat-dialog-actions>
    <div class="text-end">
      <button mat-button [mat-dialog-close]="data">Cerrar</button>
      <button mat-raised-button [disabled]="!placeForm.valid" type="submit">Guardar</button>
    </div>
  </div>
</form>
