<form [formGroup]="placeForm" novalidate (ngSubmit)="save()" class="base-form">
  <h1 mat-dialog-title>{{data ? 'Punto de venta: ' + data.address : 'Nuevo Punto de Venta'}}</h1>
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="base-full-width">
      <mat-label>Ciudad</mat-label>
      <input type="text"
        placeholder="Seleccione una ciudad"
        formControlName="country"
        aria-label="Number"
        [matAutocomplete]="auto"
        matInput>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredCommunes | async; track option) {
          <mat-option [value]="option">
            {{option}}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" class="base-full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
    <mat-form-field appearance="fill" class="base-full-width">
      <mat-label>Alerta de stock</mat-label>
      <input type="number" matInput formControlName="availableStock">
      <mat-hint>Indica el stock mínimo a tener en el punto de venta</mat-hint>
    </mat-form-field>
    <mat-slide-toggle formControlName="status">
      {{ placeForm.controls['status'].value ? 'Deshabilitar punto de venta' : 'Activar punto de venta'}}
    </mat-slide-toggle>
  </mat-dialog-content>
  <mat-dialog-actions align="end" >
      <button mat-button [mat-dialog-close]="data">Cerrar</button>
      <button mat-raised-button [disabled]="!placeForm.valid" type="submit">Guardar</button>
  </mat-dialog-actions>
</form>
