<h1>Mi perfil</h1>
<div class="row">
  <div class="col-sm-8">
    <form [formGroup]="formProfile" novalidate (ngSubmit)="submit()" class="base-form">
      <mat-form-field appearance="fill" class="base-full-width">
        <mat-label>Rut</mat-label>
        <input matInput formControlName="rut" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="base-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="base-full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="base-full-width">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telephone">
      </mat-form-field>
      <ng-container *ngIf="profile.role === 'CUSTOMER'">
        <h2>Dirección</h2>
        <p>{{address}} <a href="#">Cambiar</a></p>
      </ng-container>
      <div class="text-end">
        <button type="button" mat-button>Cancelar</button>
        <button type="submit" mat-raised-button class="m-1" color="primary"
                [disabled]="!formProfile.valid">Actualizar
        </button>
      </div>
    </form>
  </div>
  <div class="col-sm-4">
    <button type="button" mat-raised-button (click)="showModalPwd()">Cambia tu contraseña</button>
  </div>
</div>
