.text-center > .title {
  font-size: xx-large;
}
.title {
  font-weight: bold;
  margin-bottom: 10px;
}
.icon-display {
  font-size: 80px;
  height: 80px;
  width: 80px;
  color: #d32f2f;
}
.error-steps {
  font-size: 1em;
  color: #555;
  margin-left: 20px;
}
.error-steps li {
  margin-bottom: 8px;
}
