<div class="container-fluid">
    <div class="form-parent">
        <div class="form-signin">
            <form (ngSubmit)="onSubmit()" novalidate [formGroup]="loginForm">
                <h1 class="h3 mb-4 fw-normal">Pureza del Sur</h1>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" formControlName="email" id="floatingInput"
                        placeholder="name@example.com">
                    <label for="floatingInput">Correo electrónico</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" formControlName="password"
                        placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <div class="checkbox mb-3 text-start">
                    <label>
                        <input type="checkbox" value="remember-me" formControlName="rememberMe"> Recuérdame
                    </label>
                </div>

                <p class="text-danger" *ngIf="failedLogin">Correo o contraseña incorrecta</p>

                <button class="w-100 btn btn-lg btn-primary mb-3" [disabled]="!loginForm.valid" gtagEvent
                    trackOn="click" action="login" type="submit">Iniciar sesión
                </button>

                <asl-google-signin-button text="continue_with" type="standard" size="large"></asl-google-signin-button>

                <div class="links-container">
                    <a [routerLink]="['/registrate']" gtagEvent trackOn="click" action="register" mat-button>¿No tienes
                        cuenta? <b>Regístrate</b></a>
                    <button (click)="restorePassword()" gtagEvent trackOn="click" action="restore_password"
                        type="button" mat-button>Olvidé mi contraseña
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>