<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/usuarios']">Usuarios</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{user.id ? 'Editar usuario' : 'Nuevo usuario'}} </li>
  </ol>
</nav>
<form novalidate [formGroup]="formUser" (ngSubmit)="submit()" class="base-form">
  <h2>Opciones personales</h2>
  <mat-form-field appearance="fill" class="base-full-width">
    <mat-label>Rut</mat-label>
    <input type="text" matInput formControlName="rut">
  </mat-form-field>
  <mat-form-field appearance="fill" class="base-full-width">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="fullName">
  </mat-form-field>
  <mat-form-field appearance="fill" class="base-full-width">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role.value">{{role.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="base-full-width" *ngIf="!user.id">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput formControlName="password" autocomplete="new-password">
    <button type="button" (click)="randomPassword()" mat-button matSuffix mat-stroked-button>Generar contraseña</button>
  </mat-form-field>
  <h2>Información de contacto</h2>
  <mat-form-field appearance="fill" class="base-full-width">
    <mat-label>Correo electrónico</mat-label>
    <input type="email" matInput formControlName="email" [readonly]="">
  </mat-form-field>
  <mat-form-field appearance="fill" class="base-full-width">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of userStatus" [value]="status.value">{{status.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="text-end">
    <a [routerLink]="['/usuarios']" mat-button>Cancelar</a>
    <button type="submit" mat-raised-button class="m-1" [disabled]="!formUser.valid" color="primary">
      {{user.id ? 'Actualizar' : 'Guardar'}}
    </button>
  </div>
</form>
