<div class="container py-5 text-center">
    <h1 class="fs-1 fw-bold mb-5">
        ¿Eres administrador o parte del comité de un edificio o condominio?
    </h1>
    <p class="fs-4">Te invitamos a ver este breve video informativo:</p>
    <div class="ratio ratio-16x9 mb-4">
        <iframe src="https://www.youtube.com/embed/8n2sXo7l5j0" title="YouTube video" allowfullscreen></iframe>
    </div>
    <p class="fs-4">Aquí toda la información de contacto:</p>
    <div class="row">
        <div class="col">
            <a href="https://wa.me/56984428760" target="_blank" rel="noopener noreferrer">WhatsApp</a>
        </div>
        <div class="col">
            <a href="https://www.instagram.com/pureza_del_sur" target="_blank" rel="noopener noreferrer">Instagram</a>
        </div>
        <div class="col">
            <a href="https://www.facebook.com/p/Pureza-Del-Sur-61551416304840" target="_blank"
                rel="noopener noreferrer">Facebook</a>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="https://wa.me/56984428760" target="_blank" rel="noopener noreferrer"
            class="btn btn-primary mt-4">
            Contactar a Pureza del Sur
        </a>
    </div>
</div>