<section class="footer bg-light">
  <div class="container py-19 py-sm-23 py-lg-25">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-5 mb-14 mb-md-0">
        <div class="align-items-center justify-content-center justify-content-md-start">
          <a [routerLink]="['/home']" class="footer-brand">Pureza del Sur</a>
          <div class="clearfix"></div>
          <p class="m-0">La pureza del agua en un envase</p>
          <div class="brand-icons-list ml-10 ml-sm-20 d-none">
            <a href="https://demo.htmlhunters.com/profi/contractor.html#"
               class="brand-icon brand-icon-circle brand-icon-facebook">
              <i class="fa fa-facebook-f"></i>
            </a>
            <a href="https://demo.htmlhunters.com/profi/contractor.html#"
               class="brand-icon brand-icon-circle brand-icon-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://demo.htmlhunters.com/profi/contractor.html#"
               class="brand-icon brand-icon-circle brand-icon-pinterest">
              <i class="fa fa-pinterest-p"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-2 text-center d-lg-block d-sm-none d-none">
        <a href="/home#header-navbar" class="footer-icon" data-toggle="smooth-scroll"
           data-target="#page-start-anchor">
          <i class="material-icons">arrow_upward</i>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-5 text-center text-md-right">
        <h4>Encuéntranos en</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a class="nav-link p-0"
               href="https://www.google.com/maps/place/Arauco+939,+5110669+Valdivia,+Los+R%C3%ADos/@-39.8171657,-73.2391921,17z/data=!3m1!4b1!4m6!3m5!1s0x9615ee7be995ae13:0x8c7797da48611b0c!8m2!3d-39.8171698!4d-73.2366118!16s%2Fg%2F11jtvvfv6g?entry=ttu"
               target="_blank">Arauco 939, Valdivia, Región de Los Ríos</a>
            <p class="p-0">
              <a class="nav-link" href="tel:+56984428760">+56 9 8442
                8760</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
