<div class="border-end">
  <span class="fw-bold mat-badge-large">Hola {{name}}</span>
  <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link"
       *ngIf="role === 'CUSTOMER'"
       [routerLink]="['/mis-pedidos']"
       [ngClass]="source === 'my-request' ? 'active' : ''"
       data-toggle="pill" role="tab"
       aria-controls="v-pills-home"
       aria-selected="true">Mis pedidos</a>
    <a class="nav-link"
       *ngIf="role === 'CUSTOMER'"
       [routerLink]="['/mis-datos']"
       [ngClass]="source === 'my-data' ? 'active' : ''"
       data-toggle="pill" role="tab"
       aria-controls="v-pills-home"
       aria-selected="true">Mis datos</a>
    <a class="nav-link"
       *ngIf="role === 'ADMINISTRATOR'"
       [routerLink]="['/clientes']"
       [ngClass]="source === 'clients' ? 'active' : ''"
       data-toggle="pill" role="tab"
       aria-controls="v-pills-home"
       aria-selected="true">Clientes</a>
    <a class="nav-link"
       *ngIf="role === 'ADMINISTRATOR'"
       [routerLink]="['/usuarios']"
       [ngClass]="source === 'users' ? 'active' : ''"
       data-toggle="pill" role="tab"
       aria-controls="v-pills-profile"
       aria-selected="false">Usuarios</a>
    <a class="nav-link"
       *ngIf="role === 'ADMINISTRATOR'"
       [routerLink]="['/configuracion']"
       [ngClass]="source === 'configurations' ? 'active' : ''"
       data-toggle="pill"
       role="tab"
       aria-controls="v-pills-messages" aria-selected="false">Configuraciones</a>
    <a class="nav-link"
       data-toggle="pill"
       *ngIf="role === 'ADMINISTRATOR'"
       [routerLink]="['/puntos-de-venta']"
       [ngClass]="source === 'places' ? 'active' : ''" role="tab"
       aria-controls="v-pills-settings"
       aria-selected="false">Puntos de venta</a>
    <a class="nav-link"
       [routerLink]=""
       style="cursor: pointer;"
       (click)="logout()"
       data-toggle="pill"
       aria-controls="v-pills-settings"
       aria-selected="false">Cerrar sesión</a>
  </div>
</div>
