#jarallax-container-0 {
  clip: rect(0 1665px 640.5px 0);
  clip: rect(0, 1665px, 640.5px, 0);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
