#jarallax-container-0 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  clip: rect(0 1665px 640.5px 0);
  clip: rect(0, 1665px, 640.5px, 0);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#jarallax-container-0 > img {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 1176px;
  height: 857px;
  overflow: hidden;
  pointer-events: none;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, opacity;
  margin-top: 14px;
  transform: translate3d(0px, 14px, 0px);
}

/*link with white color and circle blur shadow for white background*/
.bg-special {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.2s;
  margin: 20px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.text-steps {
  font-size: 1rem;
  font-weight: 350;
  text-align: center;
  margin-top: 20px;
}

.card-icon > span {
  font-size: 3rem;
  font-weight: bold;
}

.list-unstyled > li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style: none
}

h1 {
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
