<div class="form-check" *ngIf="profile?.role === 'ADMINISTRATOR'">
  <input class="form-check-input" type="radio"
         (change)="setPaymentType(paymentTypes.CASH)"
         name="paymentType" id="radioCash">
  <label class="form-check-label" for="radioCash">
    Contado.
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio"
         (change)="setPaymentType(paymentTypes.GETNET)"
         checked="checked" name="paymentType" id="radioGetNet">
  <label class="form-check-label" for="radioGetNet">
    Tarjeta de crédito, débito o prepago.
  </label>
</div>
<img
  src="https://banco.santander.cl/uploads/000/029/870/0620f532-9fc9-4248-b99e-78bae9f13e1d/original/Logo_WebCheckout_Getnet.svg"
  alt="">
<p>Paga seguro todo lo que necesitas con Getnet utilizando tus tarjetas de crédito, débito y prepago, de todos los
  emisores nacionales e internacionales.</p>
