<h1 mat-dialog-title>Restablecer contraseña</h1>
<form (ngSubmit)="sendEmail()" [formGroup]="formRestorePwd" novalidate>
  <div mat-dialog-content>
    <p>Introduce tu correo electrónico para que podamos enviarte las instrucciones para restablecer tu contraseña.</p>
    <mat-form-field appearance="outline" class="base-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Ingresa un correo electrónico"
             cdkfocusinitial="">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-button [disabled]="!formRestorePwd.valid"  cdkFocusInitial>Enviar</button>
  </div>
</form>
