<h1 mat-dialog-title>Restablecer contraseña</h1>
<form (ngSubmit)="sendEmail()" [formGroup]="formRestorePwd" novalidate>
  <div mat-dialog-content>
    <p>Ingresa tu correo electrónico para recibir las instrucciones de restablecimiento.</p>
    <mat-form-field appearance="outline" class="base-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Ingresa un correo electrónico"
             cdkfocusinitial="">
    </mat-form-field>
    <!--<button mat-button (click)="haveACode()" >Ya poseo un código</button>-->
  </div>
  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-button color="primary" [disabled]="!formRestorePwd.valid" cdkFocusInitial>Enviar</button>
  </mat-dialog-actions>
</form>
