<div class="container">
  <router-outlet></router-outlet>
  <mat-card style="padding: 24px;" class="my-2 py-5">
    <h1 class="px-4 mt-4 fw-bold">Pedido online</h1>
    <div class="px-4">
      <app-drop-down-places (onPlaceSelected)="onSelectedPlace($event)" [place]="cart.place"></app-drop-down-places>
      @if (cart.paymentType === PAYMENT_TYPE.CASH && profile?.role === 'ADMINISTRATOR') {
        <app-list-of-clients [place]="cart.place" (clientId)="onChangeClient($event)"
        ></app-list-of-clients>
      }
    </div>
    <div>
      <ng-container>
        <div class="row p-4" [ngClass]="{'opacity-50': cart.place.id === ''}">
          <div class="col-sm-7">
            <div class="row">
              @for (bottle of config; track bottle) {
                <div class="col">
                  <mat-card>
                    <img mat-card-image (click)="addToCart(bottle)" class="img-fluid btn btn-link"
                      src="assets/images/bidon-20l.jpg" alt="Agregar recarga">
                      <mat-card-content>
                        <mat-card-title>{{ bottle.description }}</mat-card-title>
                        <mat-checkbox (change)="bottle.isRefill = !bottle.isRefill">Incluir envase</mat-checkbox>
                        @if (bottle.isRefill) {
                          <p class="text-end fs-6">
                            $ {{ bottle.refillPrice | number }}
                          </p>
                        }
                        @if (!bottle.isRefill) {
                          <p class="text-end fs-6">
                            $ {{ bottle.bottlePrice + bottle.refillPrice | number }}
                          </p>
                        }
                        @if (hasAvailableBottles(bottle.description, bottle.available)) {
                          <p>Tenemos disponible
                          {{bottle.available}} bidones</p>
                        }
                        @if (!hasAvailableBottles(bottle.description, bottle.available)) {
                          <p
                            class="py-1 px-2 bg-warning-subtle border-warning-subtle rounded-1">No tenemos bidones en stock
                          </p>
                        }
                      </mat-card-content>
                      <mat-card-actions align="end">
                        <button mat-button (click)="addToCart(bottle)"
                          [disabled]="!hasAvailableBottles(bottle.description, bottle.available)" color="accent">Agregar
                        </button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                }
              </div>
            </div>
            <div class="col-sm-5">
              <!--<p class="text-black" [hidden]="">Bidones disponibles:
              <ng-container *ngIf="isLogged">
                {{ config.available }} unidades.
                <button (click)="showAvailableBottles()" color="accent"
                                        *ngIf="config.available > 0 && profile?.role === 'ADMINISTRATOR' && cart.paymentType ===
                      PAYMENT_TYPE.CASH"
                  mat-button>Especificar unidades a entregar
                </button>
              </ng-container>
              <ng-container *ngIf="!isLogged">
                <span class="text-indigo">debes <a [routerLink]="['/login']">iniciar sesión.</a></span>
              </ng-container>
            </p>-->
            <table title="Resumen de tu compra" class="table table-responsive table-bordered">
              <caption>Resumen de tu compra</caption>
              <thead>
                <tr>
                  <th id="quantity">Cant.</th>
                  <th id="description">Descripción</th>
                  <th id="subtotal">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                @for (item of cart.items; track item; let i = $index) {
                  <tr>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.description }}</td>
                    <td class="text-end">$ {{ item.subtotal | number }}<br>
                      <button mat-button (click)="delete(i, item.quantity)">Eliminar</button>
                    </td>
                  </tr>
                }
              </tbody>
              <tfoot>
                <tr class="subtotal-footer">
                  <th id="subtotal-description" colspan="2" class="text-end">Subtotal (IVA incl.)</th>
                  <th id="amount-to-pay" class="text-end">$ {{ getSubtotal() | number }}</th>
                </tr>
              </tfoot>
            </table>
            <div class="row justify-content-end">
              <div class="col-sm-8">
                <span class="fw-bold">Método de pago</span>
                <app-getnet-button (paymentType)="onChangePaymentType($event)"></app-getnet-button>
                <div class="text-end mt-4">
                  @if (!authService.isLogged()) {
                    <button mat-raised-button color="accent" (click)="showLogin()">
                      Inicia sesión para hacer tu pedido
                    </button>
                  }
                  @if (authService.isLogged()) {
                    <button mat-raised-button (click)="pay()" type="button"
                      color="primary">Realizar pago
                    </button>
                  }
                  @if (!authService.isLogged()) {
                    <p class="text-reset fst-italic">Una vez que inicies
                      sesión
                    validaremos el stock disponible en tu residencia.</p>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card>
</div>
