<div class="row">
  <div class="col-sm-2">
    <app-vertical-menu source="my-request"></app-vertical-menu>
  </div>
  <div class="col-sm-10">
    <h1>Mis pedidos</h1>
    <div class="text-center mt-4" *ngIf="dataSource.length === 0">
      <p class="text-primary">No encontramos nada!</p>
    </div>
    <p>Acá te presentamos el historia de tus compras.</p>
    <div class="mat-elevation-z8" *ngIf="dataSource.length > 0">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="orderNumber">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element"> {{ element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element"> {{ element.total | number}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator (page)="handlePageEvent($event)"
                     [length]="pagination.length"
                     [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions">
      </mat-paginator>
    </div>
  </div>
</div>
