<div class="mb-3">
  <form [formGroup]="formPlace">
    <div class="row align-items-center">
      <div class="col-sm-2">
        <label for="selectPlaces" class="form-label">Puntos de venta</label>
      </div>
      <div class="col-auto">
        <select id="selectPlaces" class="form-select" formControlName="place"
                aria-label="select places">
          <option value="no_value">Seleccione una opción</option>
          <option *ngFor="let item of places" [value]="item.id">{{item.address}}</option>
        </select>
      </div>
      <div class="col-auto" *ngIf="formPlace.valid && isLogged && profile?.role == 'CUSTOMER'">
        <button class="btn btn-secondary" (click)="setPrincipal()">Recordar selección</button>
      </div>
    </div>
  </form>
</div>
