<h1 mat-dialog-title>Detalle de la transacción</h1>
<div mat-dialog-content>
  <dl>
    <dt>Número de solicitud</dt>
    <dd>{{transaction.requestId}}</dd>
    <dt>Estado</dt>
    <dd>{{transaction.status}}</dd>
    <dt>Mensaje</dt>
    <dd>{{transaction.message}}</dd>
  </dl>
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="text-end">
  <span class="text-info small">{{transaction.date | date:'short'}}
  </span>
    <mat-icon (click)="reload()" class="reload-display">refresh</mat-icon>
  </div>
</div>
