/* You can add global styles to this file, and also import other style files */
/* principal palette => https://coolors.co/palette/2f6690-3a7ca5-d9dcd6-16425b-81c3d7 */
// Google Fonts are moved to index.html for better performance (FCP)


@import "variables";

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "assets/vendor";

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.base-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.base-full-width {
  width: 100%;
}

code {
  display: block;
  white-space: pre-wrap
}