<section class="parallax-container" style="background-image: url('/assets/images/home-ventajas.jpeg');" appParallax>
  <div class="parallax-content">
    <h2 class="mb-5">Ventajas</h2>
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="row mb-5">
          <div class="col">
            <ul class="list-unstyled advantages-list fs-5 text-light">
              <li class="mb-5">
                <app-icon-check/>
                <span class="text-light fs-5">Compras agua purificada premium</span>
              </li>
              <li class="mb-5">
                <app-icon-check/>
                <span class="text-light fs-5">Tienes agua disponible todos los días a la hora que quieras, y no debes esperar a
                  que
                  lleguen con tu pedido, perdiendo tiempo valioso que a veces no tienes.</span>
              </li>
              <li class="mb-5">
                <app-icon-check/>
                <span class="text-light fs-5">Evitas tener una gran cantidad de bidones, pues tienes a disposición cada vez que
                                    lo
                                    necesitas, y de este modo, ocupas menos espacio.</span>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled mb-12 advantages-list fs-4">
              <li class="mb-5">
                <app-icon-check/>
                <span class="text-light fs-5">El valor de la recarga es la misma que la compra en local, o sea no se cobra
                                    despacho</span>
              </li>
              <li class="mb-5">
                <app-icon-check/>
                <span class="text-light fs-5">Contribuyes al cuidado del medio ambiente, por medio de la reutilización de
                                    bidones.
                                    Además, se disminuyen la cantidad de traslados de bidones, bajando las emisiones de
                                    CO2.</span>
              </li>
            </ul>
          </div>
        </div>
        <app-button-buy/>
      </div>
    </div>
  </div>
</section>
